<div class="container">
    
      <div class="users">
        <h2 class="top">Users</h2>
        <table class="table table-hover">
          <div class="thead">
            <th class="th1">user_name</th>
            <th class="th2">review</th>
            <th class="th3">introduction</th>
          </div>
        <% @users.each do |user| %>
        <tbody>
        <td><%= link_to user.name, user_path(user.id) %></td>
         
          <td><%= "レビュー数: #{user.reviews.count}              " %></td>
          <td><%= user.introduction %></td>
          </tbody>
        <% end %>
        </table>
       
    </div>
</div>

