<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="about_content">
        <h2 class="about_logo">ShelfTalkerとは・・・</h2>
        <h4>映画レビューアプリ</h4>
        <p>
          映画は"もう一つの人生"です。宝石強盗したり人殺しに狙われたり体育館で暴れたり、、、
          普段の人生では体験し得ないような出来事を味わうことができるのが映画です。
        </p>
        <p>誰しも好きな映画があるでしょう。その映画に対して自分はなにを感じてどう伝えたいか。それを実現するアプリとなっています。</p>
        <p>また、他の人の映画レビューを見ることで感じ方や考え方を知ることもできます。興味深いレビューを発見したらブックマークしておきましょう。</p>
      </div>
    </div>
    <div class="col-5">
      <%= image_tag 'https://image.tmdb.org/t/p/w1280/kAd0vwm3O94bkQOTLnS6Ap61tQ3.jpg',class: "about_image" %>
    </div>
    <div class="col-7">
      <%= image_tag 'https://image.tmdb.org/t/p/w1280/1Q6lTKw2EqKxoYD7IdgHolVwFCk.jpg',class: "about_image" %>
    </div>
    <div class="col-5">
      <div class="about_content">
        <h2>何故作成したのか</h2>
         <h4>映画が好き。自己表現が好き。</h4>
          そんな単純な思いから作成に挑みました。</br>
          良い作品に出会った時の溢れる感情を表現する場として。
         <h4>映画探しの参考に</h4>
         良い映画に出逢う為にはフィーリングが重要です。</br>
         趣味が合うあの人はどんな映画をレビューしているのだろう。
      </div>
    </div>
    <div class="col-7">
      <div class="about_content">
        <h2>主な開発環境・各種機能</h2>
        <p><プログラミング言語>Ruby 2.6.3 JavaScript</p>
        <p>Rails 5.2.5</p>
        <p>AWS</p>
        <p>Bootstrap</p>
        <p>devise</p>
        <p>MySQL</p>
        <p>TMDb(API)</p>
        <p>raty.js</p>
        <p>Action Mailer</p>
        <p>RSpec</p>
        <a href="https://github.com/rwrw96/Shelf-talker">more< github ></a>
      </div>
    </div>
    <div class="col-5">
      <%= image_tag 'https://image.tmdb.org/t/p/w1280/tMIRQeD1TFRUe7KrkIcwPYGPuqm.jpg',class: "about_image" %>
    </div>
  </div>
</div>
 