<div class="container">
  <div class="row">
    <div class="welcome_wrapper offset-3 col-6">
      <h2>please wait...</h2>
      <p>只今確認メールを送信しました</p>
      <p>URLからログインをお願い致します</p>
    </div>
  </div>
</div>