// Place all the styles related to the casts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// movies/show キャスト一覧
.cast_list {
   transition: transform 0.5s;
.casts_image {
    img {
      height: 125px;
      width: 100px;
      border-radius: 5px;
    }
  }
  .casts_name {
    font-size: 10px;
    width: 90px;
    margin-bottom: 20px;
  }
  &:hover {
    transform: scale(1.3);
  }
}

// cast/show 映画一覧

.cast_movies {
  img {
    height: 360px;
    width: 270px;
  }
}

.cast_movies_title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Stick', sans-serif;
}

.cast_movies_character {
  font-size: 15px;
}

.cast_movies_release_date {
  margin: 10px 0px;
  font-size: 5px;
}


// cast/show キャスト情報
.cast_image {
  img {
    height: 360px;
    width: 270px;
    margin-bottom: 100px;
    position: relative;
    border-radius: 3px;
  }
}

.box {
  height: 200px;
  width: 950px;
  background: #bd2130cf;
  top: 95px;
  left: -40px;
  position: absolute;
}


.cast_info {
  .cast_info_content {
    font-family: 'Raleway', sans-serif;
  }
  h4 {
    margin-top: 20px;
  }
  h2 {
    margin-bottom: 60px;
  }
  .cast_birthday {
    color: white;
  }
  .place_of_birth {
    color: white;
  }
}

@media screen and (max-width: 425px) {
  .cast_info {
    img {
      height: 180px;
      width: 120px;
    }
  .box {
      height: 100px;
      width: 200px;
      top: 50px;
      left: 0px;
    }
    .cast_birthday {
      color: black;
    }
    .place_of_birth {
      color: black;
    }
    .offset-4 {
      margin-left: 15%;
    }
    .col-3 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .cast_movies {
    .col-3 {
      max-width: 50%;
    }
    .cast_movies_title {
      font-size: 10px
    }
    .cast_movies_character {
      font-size: 10px;
    }
    .cast_movies_release_date {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
}