// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ヘッダーの内容
header {
  height: 200px;
  padding: 25px 0px;
  .logo {
    .editlink {
    color: black;
    text-decoration: none;
    }
  }
  .header_item {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    .editlink {
      color: black;
      text-decoration: none;
      margin: 0px 10px;
    }
  }
}


// ハンバーガーメニュー↓
// @keyframes
@keyframes equalizer01 {
  0% {
    width: 70%;
  }
  10% {
    width: 50%;
  }
  20% {
    width: 150%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 50%;
  }
  50% {
    width: 70%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}
@keyframes equalizer02 {
  0% {
    width: 30%;
  }
  10% {
    width: 20%;
  }
  20% {
    width: 40%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 20%;
  }
  50% {
    width: 30%;
  }
  60% {
    width: 20%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 40%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 30%;
  }
}

// nav
nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: white;
  transition: all 0.5s;
  z-index: 3;
}

.open {
  nav {
    left: 0;
  }
}
  
nav .inner {
  padding: 25px;
  ul {
    list-style: none;
    padding: 0;
    li {
    border-bottom: 1px solid black;
        a {
      display: block;
      font-size: 14px;
      padding: 14px;
      }
    }
  }
}
nav .inner ul li a:hover {
  background: #e4e4e4;
}

// .toggle_btn
.toggle_btn {
  display: block;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 3;
}
.open .toggle_btn {
  left: 330px;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
  width: 60px;
  animation: equalizer01 6000ms infinite;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
  width: 30px;
  animation: equalizer02 5000ms infinite;
  animation-delay: 0.33s;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
  width: 20px;
  animation: equalizer02 5000ms infinite;
}
.open .toggle_btn span {
  background-color: white;
}
.open .toggle_btn {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.open .toggle_btn span:nth-child(1), .open .toggle_btn span:nth-child(3) {
  width: 16px;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translate(-1px,4px) rotate(-45deg);
  transform: translate(-1px,4px) rotate(-45deg);
  animation: unset;
}

.open .toggle_btn span:nth-child(2) {
  animation: unset;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translate(-1px,-4px) rotate(45deg);
  transform: translate(-1px,-4px) rotate(45deg);
  animation: unset;
}

// #mask
#mask {
  display: none;
  transition: all 0.5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 2;
  cursor: pointer;
}

// main
main {
  width: 100%;
  transition: all 0.5s;
}
.open main {
  margin-left: 300px;
}


.about_image {
  height: 450px;
  width: 380px;
  margin-bottom: 100px;
}

.about_content {
  margin-top: 50px;
  font-family: "Noto Sans Japanese";
}

h4 {
  margin: 40px 0px 20px 0px;
}

.logo {
  font-size: 60px;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.welcome_wrapper {
  text-align: center;
  margin-top: 70px;
}

footer {
  .copyright {
    text-align: center;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
  }
}

@media screen and (max-width: 425px) {
  header {
    .editlink {
      color: black;
      text-decoration: none;
      font-size: 10px;
    }
    .header_item {
      .editlink {
        margin: 0px 4px;
      }
    }
    .logo {
      .editlink {
        font-size: 35px;
      }
    }
  }
  .about_content {
    font-size: 10px;
  }
  .logo {
    font-size: 20px;
  }
  h4 {
    font-size: 15px;
    margin: 0px;
  }
  .about_image {
    height: 300px;
    width: 150px;
    margin: 20px 0px;
  }
}