// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  text-align: center;
  padding: 30px 0px;
  font-family: 'Anton', sans-serif;
}

.genre_wrapper {
  background-color: red;
  text-align: center;
  font-size: 15px;
  padding: 15px 0px;
  font-family: 'Raleway', sans-serif;
  .editlink {
    color: white;
    margin: 0px 10px;
    transition: all 0.3s;
    &:hover {
      letter-spacing: 1px;
    }
  }
}

.movie_search {
  text-align: center;
  margin: 100px 0px;
}

// movie/indexでの画像サイズ
.movie_image {
  height: 360px;
  width: 270px;
}

// hover時、画像を拡大
.hover_darken {
  .movie_image {
    height: 360px;
    width: 270px;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

// hover時、不透明な画像を表示
.hover_darken {
  &::before {
    content: "";
    position: absolute;
    top: -4%;
    left: 0;
    height: 396px;
    width: 297px;
    z-index: 1;
    transition: background-color 0.8s;
    pointer-events: none;
  }
  &:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.movie_title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Stick', sans-serif;
  .editlink {
    color: black;
    text-decoration: none;
  }
}

.release_date {
  font-size: 5px;
  padding-bottom: 20px;
}

.btn {
  margin-top: 10px;
}

.overview {
  padding: 10px;
}

.slider {
  img {
    height: 660px;
  }
}

@media screen and (max-width: 768px) {
  .slider img {
    height: 325px;
  }

  .hover_darken {
    .movie_image {
      height: 250px;
      width: 150px;
      transition: transform 0.3s;
    }
  }

  .hover_darken {
    &::before {
      display: none;
    }
  }

  .movie_title {
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
  }
}

@media screen and (max-width: 425px) {
  .movie_index {
    overflow: hidden;
  }
  
  .genre_wrapper {
    font-size: 5px;
    .editlink {
      margin: 0px 10px;
    }
  }
  
  .slider img {
    height: 520px;
  }
  
  .hover_darken {
    .movie_image {
      height: 100px;
      width: 75px;
      transition: transform 0.3s;
    }
  }
  
  .hover_darken {
    &::before {
      display: none;
    }
  }
  
  .movie_title {
    font-size: 10px;
    font-weight: bold;
    margin-top: 3px;
  }
  
  .movie_show {
    .movie_image {
      height: 180px;
      width: 120px;
    }
    .overview {
      font-size: 10px;
    }
    label {
      font-size: 10px;
    }
    img {
      height: 10px;
      width: 6px;
    }
    #review_title {
      height: 20px;
    }
    #review_body {
      height: 50px;
    }
    .btn {
      font-size: 10px;
      height: 25px;
      width: 55px;
      margin-top: 15px;
      padding: 0px;
    }
    .col-10 {
      flex: 100%;
      max-width: 100%;
    }
  }
}
