// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.followers_empty {
    text-align: center;
    margin-bottom: 300px;
}

.followings_empty {
    text-align: center;
    margin-bottom: 300px;
}