// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// reviews/index↓
.reviews_image {
  height: 170px;
  width: 150px;
}

.reviews_title {
  font-size: 20px;
  font-weight: bold;
}

.reviews_body {
  margin-bottom: 100px;
}

.review_hover_darken {
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 4%;
    height: 170px;
    width: 150px;
    z-index: 1;
    transition: background-color 0.8s;
    pointer-events: none;
  }
  &:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.more {
  text-align: center;
  margin: 60px 0px;
}

.reviews_sort {
  text-align: center;
}
// ここまで

// movies/index↓
.top_review_wrapper {
  margin-bottom: 50px;
}

.top_review_image {
  height: 170px;
  width: 150px;
}

.top_review_font {
  font-size: 15px;
  font-weight: bold;
}

.top_review_title {
  font-size: 30px;
  position: relative;
  overflow: hidden;
  & span {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.3s;
    color: black;
  }
}

// hover時、spanを表示させる
.top_review_wrapper {
  .editlink {
    color: black;
  }
  &:hover span {
    transform: none;
    text-align: center;
    z-index: -1;
    font-weight: bold;
  }
  &:hover .click-before {
    transition: all 0.2s;
    opacity: 0;
  }
}

.top_review_body {
  margin-top: 30px;
  padding: 10px;
}

.top_review_body:first-letter {
  font-size: 35px;
  font-weight: bold;
}
// ここまで

// reviews/show
.review_body {
  margin-bottom: 30px;
}

.review_body:first-letter {
  font-size: 35px;
  font-weight: bold;
}

.review_title {
  font-weight: bold;
  display: inline-block;
  margin-right: 15px;
}

.review_rate {
  display: inline-block;
}

.review_container {
  margin-bottom: 30px;
  padding: 10px;
  width: 1200px;
}

.review_save {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.review_error {
  text-align: center;
  font-size: 20px;
  color: red;
  margin: 30px 0px;
}

.review_edit {
  display: inline-block;
  .editlink {
    color: black;
  }
}

.review_font {
  font-size: 15px;
  font-weight: bold;
}


// レビュー、モーダルウィンドウ機能
.review_button {
  background-color: #0e2a44e6;
  text-align: center;
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-top: 40px;
}
// レビュー背景
.review_modal_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .7;
  display: none;
}
// レビュー本体
.review_modal {
  position: absolute;
  background-color: white;
  width: 750px;
  height: 420px;
  top: 50px;
  left: -550px;
  bottom: 0;
  right: 0;
  margin: 0px auto 0;
  border: 15px solid #eee;
  display: none;
  border-radius: 15px;
  text-align: right;
}
// レビューの中身
.review_modal_content {
  display: none;
  text-align: left;
  .fa_wrapper {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .top_review_title {
    font-size: 25px;
  }
}

@media screen and (max-width: 425px) {
  .top_review_user {
    display: none;
  }
  .top_review_image {
    height: 120px;
    width: 80px;
  }
  .top_review_font {
    font-size: 10px;
  }

  .top_review_wrapper {
    .top_review_title {
      font-size: 10px;
      margin-left: 25px;
      padding: 0px;
    }
    .top_review_body {
      font-size: 10px;
      margin: 0px;
      padding: 0px 0px 0px 20px;
    }
    .top_review_rate {
      img {
        height: 10px;
        width: 6px;
      }
    }
  }
  .reviews_user {
    display: none;
  }
  .reviews_image {
    height: 120px;
    width: 80px;
  }
  .review_font {
    font-size: 10px;
  }

  .reviews_wrapper {
    .reviews_title {
      font-size: 10px;
      margin-left: 25px;
      padding: 0px;
    }
    .col-3 {
      padding-right: 0%;
      max-width: 30%;
    }
    .col-7 {
      flex: 100%;
      max-width: 70%;
      padding-left: 0px;
    }
    .reviews_body {
      font-size: 10px;
      margin-bottom: 30px;
      padding-left: 20px;
    }
    .review_rate {
      img {
        height: 10px;
        width: 6px;
      }
    }
  }
  .review_show_wrapper {
    .review_overview {
      font-size: 10px;
    }
  }
  .review_show_image {
    .image {
      height: 180px;
      width: 120px;
    }
  }
  .review_save {
    .btn {
      font-size: 10px;
    }
  }
  .review_container {
    font-size: 10px;
    margin: 10px;
    width: 300px;
    padding-right: 0px;
    .col-1 {
      flex: 100%;
      max-width: 90%;
    }
    .review_edit {
    width: 100%;
    text-align: right;
    padding-right: 10px;
    margin-left: 0px;
    }
    .review_rate {
      img {
        height: 10px;
        width: 6px;
      }
    }
  }
  
  .movie_image {
    height: 180px;
    width: 120px;
  }
  
  .movie-title {
    font-size: 10px;
    width: 120px;
  }
  
  .review_title_form {
    padding: 0px;
  }
  .review_body_form {
    padding: 0px;
  }


.review_button {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 30px;
  font-size: 10px;
  .offset-7 {
    margin: 0px;
  }
  .col-3 {
    flex: 100%;
    max-width: 100%;
  }
}

.review_modal {
  background-color: white;
  width: 300px;
  height: 200px;
  top: 0;
  left: -120px;
  bottom: 0;
  right: 0;
}

.review_list {
  .offset-3 {
    margin: 0px;
  }
  .col-6 {
    flex: 100%;
    max-width: 100%;
  }
  .my_reviews_empty {
    margin: 0px;
  }
}
  .reviews_created_at {
    display: none;
  }
}