// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review_image {
  height: 150px;
  width: 150px;
}

.top_review_wrapper {
  margin-bottom: 50px;
}

.top_review_image {
  height: 170px;
  width: 150px;
}

.top_review_font {
  font-size: 15px;
  font-weight: bold;
}

.top_review_title {
  font-size: 30px;
}

.top_review_body {
  margin-top: 30px;
  padding: 10px;
}

.top_review_body:first-letter {
  font-size: 35px;
  font-weight: bold;
}

.review_body {
  margin-bottom: 30px;
}

.review_body:first-letter {
  font-size: 35px;
  font-weight: bold;
}

.review_title {
  font-weight: bold;
  display: inline-block;
  margin-right: 15px;
}

.review_rate {
  display: inline-block;
}

.review_container {
  margin-bottom: 30px;
  padding: 10px;
}

.review_save {
  display: inline-block;
}

