// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bookmark_top {
  text-align: center;
  padding: 120px 0px;
}

.my_movie-title {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
ul {
  list-style: none;
}

#error_explanation {
  text-align: center;
}

.error_title {
  color: red;
  font-size: 60px;
}

.user_introduction {
  margin-bottom: 40px;
}