// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// users/show↓
.my_profile_wrapper {
  margin-left: 30px;
  .td1 {
    width: 150px;
  }
  .td2 {
    width: 250px;
  }
  .review_rate {
    img {
      height: 15px;
      width: 10px;
    }
  }
  .review_title {
    font-size: 15px;
  }
}

table {
  border: 3px solid;
}

.my_movie_title {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.error_title {
  color: red;
  font-size: 30px;
}

.my_reviews_empty {
  text-align: center;
  margin: 30px 0px 60px 0px;
}

.my_review_image {
  height: 170px;
  width: 150px;
}

.my_hover_darken {
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 15%;
    height: 170px;
    width: 150px;
    z-index: 1;
    transition: background-color 0.8s;
    pointer-events: none;
  }
  &:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.bookmark_review_image {
  height: 170px;
  width: 150px;
}

.bookmark_hover_darken {
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    height: 170px;
    width: 150px;
    z-index: 1;
    transition: background-color 0.8s;
    pointer-events: none;
  }
  &:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.my_page_border {
  margin: 20px 0px;
  width: 60%;
}

.bookmark_top {
  text-align: center;
  padding: 120px 0px;
}

.my_bookmark_empty {
  text-align: center;
  margin-bottom: 100px;
}
// ここまで

// users/index↓
.users {
  .border {
    margin: 50px 0px;
  }
  .th1 {
    width: 15%;
  }
  .th2 {
    width: 15%;
  }
}

@media screen and (max-width: 425px) {
  h2 {
    font-size: 20px;
  }
  .border-left {
    display: none;
  }
  .my_profile_wrapper {
    margin: 0px 10px;
    .col-4 {
      flex: 100%;
      max-width: 100%;
    }
    .offset-1 {
      margin: 10%;
    }
    .col-7 {
      flex: 100%;
      max-width: 100%;
    }
    .my_hover_darken {
      img {
        height: 170px;
        width: 150px;
      }
    }
    .col-3 {
      flex: 100%;
      max-width: 100%;
    }
    .review_body {
      font-size: 12px;
      margin: 0px;
    }
  }
  .bookmark_review_image {
    height: 120px;
    width: 90px;
  }
  .bookmark_top {
    text-align: center;
    padding: 50px 0px;
  }
  #edit_name {
    padding: 0px;
  }
  #edit_introduction {
    padding: 0px;
  }
}
