<h2>Welcome <%= @user.name %>!</h2>

<h4>新規登録はまだ完了しておりません</h4>
<h5>以下のリンクから登録完了してください</h5>



<p>please login</p>
<p><%= link_to '登録完了する', confirmation_url(@resource, :confirmation_token => @token) %></p>
